<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		{% load staticfiles %}
		{% static "" as baseUrl %}
		<title>Ceng Movie Collection</title>

		<script type="text/javascript" src="{% static 'serverapp/js/jquery-1.11.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'serverapp/js/login.js' %}"></script>
		<script src="{% static 'serverapp/js/jquery.easydropdown.js' %}"></script>
		<script src="{% static 'serverapp/js/wow.min.js' %}"></script>
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

		<link href="{% static 'serverapp/css/app.css' %}" rel='stylesheet' type='text/css' />
		<link href="{% static 'serverapp/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
		<link href="{% static 'serverapp/css/style.css' %}" rel='stylesheet' type='text/css' />
		<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href="{% static 'serverapp/css/animate.css' %}" rel='stylesheet' type='text/css' />

		<script>
			new WOW().init();
		</script>
	</head>
<body>
	<div class="banner">
		<div class="container_wrap">
			<h1>What are you looking for?</h1>
			<form action="{% url 'serverapp:search' %}" method="GET">
				<input type="text" name="keyword" placeholder="type the keyword(s)">
				<div class="contact_btn">
				<label class="btn1 btn-2 btn-2g"><input name="submit" type="submit" id="submit" value="Search"></label>
				</div>
			</form>        		
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="content_top">
		<div class="container">
			<div class="col-md-4 bottom_nav">
				<div class="content_menu">
					<ul>
						<li class="active"><a href="#">Recommended</a></li> 
						<li><a href="#">Latest</a></li> 
						<li><a href="#">Highlights</a></li> 
					</ul>
				</div>
			</div>
			<div class="col-md-4 content_dropdown1">
				<div class="content_dropdown">    
					<select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
						<option value="0">Dubai</option>	
						<option value="1">tempor</option>
						<option value="2">congue</option>
						<option value="3">maxim </option>
						<option value="4">mutationem</option>
						<option value="5">hendrerit </option>
						<option value="5"></option>
						<option value="5"></option>
					</select>
				</div>
				<div class="content_dropdown">    
					<select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro"}'>
						<option value="0">Show Map</option>	
						<option value="1">tempor</option>
						<option value="2">congue</option>
						<option value="3">maxim </option>
						<option value="4">mutationem</option>
						<option value="5">hendrerit </option>
						<option value="5"></option>
						<option value="5"></option>
					</select>
				</div>
			</div>
			<div class="col-md-4 filter_grid">
				<ul class="filter">
					<li class="fil">Filter :</li>
					<li><a href=""> <i class="icon1"> </i> </a></li>
					<li><a href=""> <i class="icon2"> </i> </a></li>
					<li><a href=""> <i class="icon3"> </i> </a></li>
					<li><a href=""> <i class="icon4"> </i> </a></li>
					<li><a href=""> <i class="icon5"> </i> </a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content_middle">
		<div class="container">
			<div class="content_middle_box">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>

   <div class="footer">
   	<div class="container">
	  <div class="footer_grids">
	     <div class="footer-grid">
			<h4>Zehra Deniz Çelik</h4>
			<ul class="list1">
				<li><a>deniz.celik@metu.edu.tr</a></li>
			</ul>
		  </div>
		  <div class="footer-grid">
			<h4>Burak Göynük</h4>
			<ul class="list1">
				<li><a>burak.goynuk@metu.edu.tr</a></li>
			</ul>
		  </div>
		  <div class="footer-grid last_grid">
		 	<div class="copy wow fadeInRight" data-wow-delay="0.4s">
              <p> &copy; 2016 <a href="http://w3layouts.com/">W3layouts</a></p>
	        </div>
		  </div>
		  <div class="clearfix"> </div>
	   </div>
      </div>
   </div>
</body>
</html>		