{% load staticfiles %}
{% static "" as baseUrl %}
{% block content %}

{% for movie in movies %}
	{% cycle "first" "" "last" as row silent %}
	{% if row == "first" %}<div class="top_grid">{% endif %}
		<div class="col-md-4 index-grids">
			<div class="grid1">
				<div class="view view-first" style="background-color:white;">
					<div class="col-md-12 clear-padding">
						<div style="float:left;">
							<div class="index_img">
								<img src="{{ baseUrl }}serverapp/images/movies/{{movie.id}}.jpg" class="img-responsive" alt="">
							</div>
						</div>
						<div style="float:left;">
							<div class="sale">{{ movie.rating }} / 10</div>
							<div class="inner_wrap3">
								<h5 class="green">{{ movie.year }}</h5>
								{% for genre in movie.genres.all %}
									<h4 class="green">{{ genre.name }}</h4>
								{% endfor %}
							</div>
						</div>
					</div>
				</div> 
				<div class="inner_wrap">
					<h4 class="green">{{ movie.title }}</h4>
				</div>
			</div>
		</div>
	{% if row == "last" %}</div><div class="clearfix"></div><br>{% endif %}
{% endfor %}

{% endblock %}