{% extends "serverapp/layout.html" %}

{% block content %}
<div id="movie-detail">
	<div class="col-md-8 sing">
		<div class="single-grid" style="background-color:#f3f1f2;">
			<div class="row">
				<div class="col-md-3 clear-padding">
					<img src="{{ baseUrl }}serverapp/images/movies/{{movie.id}}.jpg" class="img-responsive" alt="">
				</div>
				<div class="col-md-9 clear-padding">
					<h2>{{ movie.title }}</h2>
					<h3>{{ movie.year }}</h3>
					<h4>Director : {{ movie.director.name }}</h4>
					<h4>Writer(s) : {{ movie.writer_names }}</h4>
					<h5><i>{{ storyline }}<i></h5>
				</div>
			</div>
			<div class="row synopsis">
				<p>{{synopsis}}</p>
			</div>
		</div>
		<div class=" single-profile">
			<h4>Related Movies</h4>
			<div class="single-left ">		
				{% for recommended_movie in recommended_movies %}	
					<a href="{% url 'serverapp:show' recommended_movie.id %}" style="cursor: pointer; text-decoration:none;">		
						<div class="col-md-3 post-top">
							<img src="{{ baseUrl }}serverapp/images/movies/{{recommended_movie.id}}.jpg" class="img-responsive" alt="">
							<h6>{{ recommended_movie.title }}</h6>
							<p>why we are suggesting</p>
						</div>
					</a>
				{% endfor %}
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-md-3 categories-grid">
		<div class="grid-categories">
			<h4>Actors</h4>
			<ul class="popular">
				{% for actor in movie.actors.all %}
					<li><a href="" class="disabled"><i class="glyphicon glyphicon-ok"></i>{{ actor.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="clearfix"></div>
</div>

<script type="text/javascript">
	$('html, body').animate({
	    scrollTop: $("#movie-detail").offset().top
	}, 500);
	$('.disabled').click(function(e){
	     e.preventDefault();
	  })
</script>
{% endblock %}