.clear-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

h5 {
	font-size: 16px !important;
}

.disabled {
   cursor: default;
}

.synopsis {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 180px;      /* fallback */
   -webkit-line-clamp: 6; /* number of lines to show */
   -webkit-box-orient: vertical;
}