.clear-padding {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

h5 {
	font-size: 16px !important;
}

.disabled {
   cursor: default;
}

.synopsis p{
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}